@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    SECTION PAGE ACCUEIL
*/

body{
  padding-bottom:120px;
}

.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.background.a {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2909085/pexels-photo-2909085.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  height: 100vh;
  width: auto;

}


.covertext {
  position: absolute;
  /* To make the div to be place anywhere. It is out of the document flow */
  top: 200px;
  /* The distance between the div with the top of document */
  left: 0px;
  /* Make the div full width */
  right: 0px;
  /* Make the div full width */
}

.title {
  font-family: Verdana;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
}

.btn {
  border-radius: 0px;
  background-image: none;
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #ffffff;
  outline: none;
}




/*
    SECTION PAGE FALLBACK
*/

.container_fallback {
  display: flex;
  justify-content: center;
}

.text_fallback {
  width: 50%;
  /* or any other width */
  margin: 0 auto;
  text-align: center;

  font-size: 2rem;
  font-family: poppins;
}

.text_fallback h1 {
  font-size: 5rem;
  font-family: poppins;
  font-weight: 600;
}

.text_fallback h3 {
  background-color: red;
  font-size: 1.5rem;
  font-family: poppins;
  font-weight: 300;
}

.button_fallback {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}



/******Ajout Annabelle ******/


/* vue accueil-login-register*/

.title {
  font-size: 8vw;
  margin-bottom: 5vh;
}


.appbtn {
  display: inline-block;
  max-width: 80%;
}

.appbtn:hover {
  color: #000;
}



/*titre h3 login/register*/
.titleLog {
  font-size: 7vw;
  margin-bottom: 5vh;
}



/*page liste bouteille*/
.titleBouteille {
  font-size: 6vw;
}

/*titre carte nom bouteille*/
.titreBouteille {
  max-width: 30ch;
  line-height: 1.25em;
}


/*ajout bouteille*/

form[name="recherche"] {
  z-index: 10;
}

#listeAutoComplete {
  position: relative;
  margin-top: -8px;
  width: 100%;
  text-align: center;
  z-index: 0;
}

#tbodyfordata td {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  /*border-bottom:1px solid rgb(223, 220, 220)*/
}




/**nav for sprint1**/


.log {
  display: block;
  padding-top: 8px;
  line-height: 0.8em;

}

.log a {

  font-size: 12px;
}

/*fiz titre des cellier quand écran très petit*/


/*Mediaqueries*/
/* Si écran < 400px  */
@media screen and (max-width: 400px) {
  .flexboutonCellier{
   flex-direction: column;
  }
  .titreCellier{
    font-size:8vw;
  }
}



/* Si écran < 500px  */
@media screen and (max-width: 500px) {
  .logZone {
    width: 90%
  }
}


/* Si écran > 1020px  */
@media screen and (min-width: 1020px) {
  .titleLog {
    font-size: 4vw;
  }

  .titleBouteille {
    font-size: 4vw;
  }
}



.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:10000;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal-bg {
  position: absolute;
  background: rgba(47, 48, 50, 0.6);
  width: 100%;
  height: 100%;
  
}
.modal-container {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 20px;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  outline: none;
  appearance: none;
  color: rgb(127 29 29);
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

.description{
  z-index:1000;
}

/* SECTION CARD POUR BOUTEILLE DE VIN */



/*pour enlver zoom form */
form *:not(label){
  font-size:16px!important
}

/*enlever focus quand rad only*/
 form *[readonly]{
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  color:#666;
  pointer-events: none;
 }


 /*ajout bouteille label form*/
 #formAjoutBouteille label:not(.radiolabel){
  font-size:14px;
  color:rgb(127, 29, 29);
 }

 #formModifBouteille label:not(.radiolabel){
  font-size:14px;
  color:rgb(127, 29, 29);
 }

/*nav bottom */
#bottom-navigation{
  z-index:1000;
}


#radioLi{
  margin-top:0;
}



/*Nav correction final*/
nav i{
  font-size:1.5em;
}

nav svg{
  width:1.75em;
  height:1.75em;
}

nav a span{
  display:block;
}



/*Titre zone rouge*/
.titreZoneRouge{
  line-height: 1em;
  margin-bottom:5px;
}

.zoneRouge p{
  line-height: 1em;
}

/*commun  app*/

.container{
  padding:5px;
}

.titreSecondaire{
  font-size:4vw;
  
}

.flexPerso{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  align-items:stretch; 
  justify-content: center;
  z-index:0;

}

.cellierCarte{
  /*min-width: 400px;*/
}

.cellierCarte img{
  max-width:70%;
  margin:0 auto;
}

.cellierCarte form{
  margin:0;
}

.vinoCarte{
  position:relative;
  display: flex;
  flex-direction: column;
  max-width: 310px;
  justify-content:space-between;
  overflow-wrap: break-word;
  z-index:0;
}

.vinoCarte .zoneImg{
  text-align: center;
}

.vinoCarte .zoneImg img{
  max-height: 180px;
  height: 100%;
  margin: 0 auto
}

.vinoCarte h1{
  line-height: 1em;
}

a{
  cursor:pointer;
}

.logoSAQ{
  width: 20px;
}

.cellierTitre{
  line-height: 1em;
}


/*system de note ref:https://codepen.io/knyttneve/pen/EBNqPN */
.note {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 40px;
  position: relative;
}

.note-0 {
  filter: grayscale(100%);
}

.note > input {
  display: none;
}

.note > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.note > input:checked ~ label,
.note > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.note > input:not(:checked) ~ label:hover,
.note > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.feedback {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 
}

/*Mediaqueries ajutement custom*/
/* Si écran < 300px  */
@media screen and (max-width: 300px) {
  nav a span{
    display:none!important;
  }
  .titreSecondaire{
    font-size:15vw
  }
 
}


@media screen and (max-width: 500px) {
  .titreZoneRouge{
    font-size: 12vw;
  }

  .titreSecondaire{
    font-size:8vw;
  }
}

@media screen and (max-width: 530px) {
  .flexPerso{
    justify-content: center;
  }
}


@media screen and (min-width: 500px) {
  .container{
    padding:20px;
  }
  
}

